ul {

    /*posição*/
    margin-left: 525px;

    /* largura*/
    width: 460px;
    /*estilo da lista*/
    list-style-type: none;
    border-radius: 50px;

    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {

    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }


  /* banner */
  header img{
    margin-left: 350px ;
    border-radius: 50px;
    height: 400px;

  }

  body{
    background-color: aliceblue;

  }

/*conteudos da tela*/
main{
  /*dimenssão da tela*/
  width: 1500px;
  height: 1600px;

  /*cor fundo da tela*/

  background-color: azure;

}

/* titulo do conteudo */

.titulo-planos{
  color: black;
  padding-top: 2px;
  text-align: center;
  width: 650px;
  margin-left: 30% ;
  box-shadow: rgb(190, 100, 100) 3px 3px 50px ;
  border-radius: 50px;

}
/*section principal -  planos-residenciais */
#planos-residenciais{
  margin: 20px;
  margin-left: 25px;
  width: 1450px;
  height:500px;
  border-radius: 50px;
  background-color: beige;
  box-shadow: #333 3px 3px 25px ;

}

/*section principal -  planos-empresariais */
#planos-empresariais{
  margin: 20px;
  margin-left: 25px;
  width: 1450px;
  height:550px;
  border-radius: 50px;
  background-color: beige;
  box-shadow: #333 3px 3px 25px ;

}


/* planos residencial */

/* titulo do plano 100*/

.titulo{
  color: black;
  padding-top: 2px;
  text-align: center;
  width: 450px;
  margin-left: 5% ;
  box-shadow: #333 3px 3px 25px ;
  border-radius: 50px;
}
strong{
  font-size:35px ;
  color: blue;
  text-shadow: red 1px 1px 5px;
}
/*plano 100mb*/
.plano200mega
{
  float: left;
  width: 450px;
  text-align: center;
  border-color: #111;
  color: black;
  padding-top: 2px;
  text-align: center;

}
.plano400mega
{

  float: left;
  width: 450px;
  text-align: center;
  border-color: #111;
  color: black;
  padding-top: 2px;
  text-align: center;

}

.plano600mega
{


  float: left;
  width: 450px;
  text-align: center;
  border-color: #111;
  color: black;
  padding-top: 2px;
  text-align: center;


}

/* benefícios residencial */


#aplicativos{
  font-size: 15px;
  margin-left: 250px;
  width: 1050px;
  height:850px;
  border-radius: 50px;
  background-color: beige;
  box-shadow: #333 3px 3px 25px ;
}
.paramount{
  float: left;
  margin-left: 50px;
  width: 400px;
  height: 500px;
  text-align: center;
}

.paramount h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  box-shadow: blue 1px 5px 25px;
  margin-left: 90px;

  width: 250px;

}

.paramount p{

font-family: 'Times New Roman', Times, serif;
}

.Infantil{
  float: left;
  margin-left: 50px;
  width: 400px;
  height: 500px;
  text-align: center;

}

.Infantil h2{
  padding: 0%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  box-shadow: blue 1px 5px 25px;
  margin-left: 100px;
  border-style: outset;
  width: 250px;


}

.Infantil p{

font-family: 'Times New Roman', Times, serif;
}


.Segu{
  float: left;
  margin-left: 50px;
  width: 400px;
  height: 500px;
  text-align: center;

}

.Segu h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  box-shadow: blue 1px 5px 25px;
  margin-left: 90px;
  border-radius: 30px;
  border-style: outset;
  width: 250px;


}

.Segu p{

font-family: 'Times New Roman', Times, serif;
}
.educa{
  float: left;
  margin-left: 50px;
  width: 400px;
  height: 500px;
  text-align: center;

}

.educa h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  box-shadow: blue 1px 5px 25px;
  margin-left: 90px;
  border-radius: 30px;
  border-style: outset;
  width: 250px;


}

.educa p{

font-family: 'Times New Roman', Times, serif;
}




/* benefícios empresárial */


/* botão contratar serviço */

.button{
  border-radius: 30px;
  border-color: #111;
  border-style: outset;
  margin-left: 125px;
  width: 200px;
  background-color: aliceblue;

}


.button:hover{
  border-radius: 30px;
  margin-left: 125px;
  width: 200px;
  box-shadow: rgb(0, 0, 0) 5px 5px 25px ;
  background-color: rgb(37, 193, 55);

}

#contato{
  margin-top: 20px;
  margin-left: 450px;
  width: 650px;
  height:600px;
  border-radius: 50px;
  background-color: beige;
  box-shadow: #333 3px 3px 25px ;

}
.contato{

  text-align: center;

}

footer{
  text-align:center ;
}

footer a{
  text-shadow: red 1px 1px 5px;
}

.top img{

  float: right;
  width: 50px;
  height: 50px;

}


@media only screen and (max-width: 600px) {

  body {

    background-color: lightblue;

  }

}
